# .gitignore

# 1. Ignora o arquivo secreto do backend
/backend/.env

# 2. Ignora a pasta de dependências do Node.js
/backend/node_modules

# 3. Ignora a pasta de dependências do frontend (se usar)
/frontend/node_modules

# Ignora arquivos de sistema
.DS_Store